*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    display: grid;
    height: 100vh;
    place-content: center;
}

#app{
    display: flex;
    justify-items: center;
    text-align: center;

    gap: 20rem;
}

.flex{
    display: flex;
}

.time{
    color: #323238;
    text-align: center;
    font-family: Roboto;
    font-size: 126.166px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    gap: 2rem;
}

.controls{
    place-content: center;
    gap: 4rem;
    
}

 button{
    font-size: 6rem;
    border: none;
    background: #fff;
    cursor: pointer;
}

.hide{
    display: none;
}

.sonsCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

